<div class="background-gray-100 w-full h-screen flex justify-center items-center dark:bg-linear-120 dark:from-[#191e29] dark:to-[#181d27] text-white">
  <div class="bg-[#060b12] p-8 rounded-[8px] shadow-md w-96 border-[#19222e] border-2 max-h-[300px]" [class.expanding-animation]="isLoading">
    <h2 class="text-2xl font-bold mb-6 text-center">Login</h2>
    <form action="#" [hidden]="isLoading">
        <h1 class="w-full mb-4 text-[#868686]">Username</h1>
        <input name="username" type="text" class="w-full p-2 mb-4 rounded-[8px] bg-[#0d131c] border border-[#19212d]" [(ngModel)]="username"/>
        <input type="submit" value="Login" class="w-full p-2 bg-[#152543] rounded text-[#f1f0f3] font-bold hover:bg-[#1b325e] cursor-pointer transition" (click)="$event.stopPropagation(); performLogin()" />
    </form>
    <div [hidden]="!isLoading" class="flex flex-col items-left overflow-y-scroll max-h-[176px] h-[176px]" #scrollMe [scrollTop]="scrollMe.scrollHeight">
        @for (message of messages; track $index) {
          <p class="mb-2 text-left">{{message}}</p>
        }
    </div>
  </div>
</div>