<div class="background-gray-100 w-full h-screen flex justify-center items-center dark:bg-linear-120 dark:from-[#191e29] dark:to-[#181d27] text-white">
  <div class="bg-[#060b12] p-8 rounded-[8px] shadow-md w-96 border-[#19222e] border-2 ">
    <h2 class="text-2xl font-bold mb-6 text-center">Login</h2>
    <form action="#">
        <h1 class="w-full mb-4 text-[#868686]">Username</h1>
        <input type="text" class="w-full p-2 mb-4 rounded-[8px] bg-[#0d131c] border border-[#19212d]"/>
        <input type="submit" value="Login" class="w-full p-2 bg-[#152543] rounded text-[#f1f0f3] font-bold hover:bg-[#1b325e] cursor-pointer transition" />
    </form>
  </div>
</div>