<div class="py-[2.1459227467811158798283261802575%]" onclick="">
    <div class="flex flex-col w-full min-h-5 h-fit section-rounded">
        @for (chat of chats(); track $index) {
            <app-chat [imgSrc]="chat.imgSrc ?? ''" [chatName]="chat.name ?? ''"
                [lastMessage]="getLastMessageContent(chat)"
                [whenLastMessage]="getNowDate(chat)"
                [isRead]="chat.isRead" [showOnline]="chat.isPrivate ?? false" [isOnline]="chat.isOnline"
                [lastOnMenuList]="chats().length-1 === $index" />
            }
    </div>
</div>